.App {
  text-align: center;
}

div.question {
  padding: "20px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white";
}

button {
  padding: "130px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white";
}

h1{
  font-size: 50px;
  text-align: center
}

div.ui.header{
  size: 50px;
  color: black;
  padding: 10px;

}

button.ui.active.button {
  padding-bottom: 10px;
  background: gray;
  margin-bottom: 10px;
}

input{
  text-align: center;
  height: 10px;
  width: 600px;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px

}

button.ui.active.button.correct{  
  padding-bottom: 10px;
  background:green;
  margin-bottom: 10px;
}

button.ui.active.button.wrong{  
  padding-bottom: 10px;
  background:red;
  margin-bottom: 10px;
}

label {
  font-size: 20px;
}

.form{
  font-size: 30px;
  margin-left: 10px;
}

.submit {
  font-size: 15px;
}

img {
  width: 30%;
  height: auto
}