.App {
  text-align: center;
}

div.question {
  padding: "20px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white";
}

button {
  padding: "130px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white";
}

h1{
  font-size: 50px;
  text-align: center
}

div.ui.header{
  size:45px ;
  color: black;
  padding: 10px;

}

button.ui.active.button {
  padding-bottom: 10px;
  background: gray;
  margin-bottom: 10px;
}

input{
  text-align: center;
  height: 25px;
  width: 250px;
  color: red
}

