.App {
  text-align: center;
}

div.question {
  padding: "20px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white";
}

button {
  padding: "130px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white";
}

.choices {
  padding: "130px";
}

Menu {
  padding: "130px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white"
}